$main-red: #9B0511;
$main-grey: #515151;
$background-fav: rgb(240, 224, 181);
$black-border: #15031b;
$background-results: #d1b1b3;
$button-border: #CBBEB5;


body {
  height: 100vh;
  background-image: url("../../assets/images/akatsuki.png");
  background-size: auto;
  font-family: 'Bebas Neue', cursive;
}

.header{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 30px;

  &__title{
  margin-top: 30px;
  padding: 10px;
  background-color: white;
  color: $main-red;
  opacity: 0.8;
  font-size: 40px;
  width: 500px;
  align-self: center;
  border-radius: 20px;
}
  &__input{
    font-size: 18px;
    padding: 5px;
    margin-right: 20px;
    border: solid 2px $main-red;
  }

  &__searchbtn, &__resetbtn{
    background-color: $main-red;
    border: solid 1px $button-border;
    color: white;
    padding: 5px;

    &:hover{
      cursor: pointer;
      color: $main-grey;
      background-color: $background-results
     
    }
  }
}
.wrapper{
  margin: 50px 20px 20px 20px;
  display: flex;
  justify-content: space-around;
  gap: 150px;
}

.favourites{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  opacity: 0.8;
  width: 35vw;
  text-align: center;
  height: auto;
  border-radius: 20px;

  &__title{
    font-size: 30px;
    color: $main-red;
    margin-top: 20px;
  }

  &__resetbutton{
    margin: 30px;
    background-color: $main-red;
    color: white;
    border: #CBBEB5 solid 1px;
    padding: 5px;

    &:hover{
      cursor: pointer;
      box-shadow: 0 0 8px $main-grey;
      background-color: white;
      color: $main-grey;
    }
  }

  &__list{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
  }
}

.results{
  background-color: white;
  opacity: 0.8;
  width: 60vw;
  text-align: center;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title{
    font-size: 30px;
    color: $main-red;
    margin-top: 20px;
  }

  &__list{
    margin: 30px;
    background-color: white;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    }
}

.item{
max-width: 200px;
padding: 20px;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;

&--search{
  background-color:$background-results;
 
  &:hover{
    cursor: pointer;
    box-shadow: 0 0 10px $main-grey;
    }
}
&--clicked{
  border: solid 2px $black-border;
  background-color: $main-red;
  color: white;
}
}

.item-image{
  margin-top: 10px;
  border-radius: 10px;
  max-height: 300px;
  background-color: black;

}
.item-title{
margin-top: 10px;
}

.fav_clicked__inlist{
  background-color: $background-fav;
}


.reset_one{
  border-radius: 50px;
  border: solid 1px $main-red;
  background-color: white;
  color: $main-red;
  padding: 5px;
  width: 30px;
  position: relative;
  left: 86px;
  top: 6px;
  font-size: 14px;

  &:hover{
    cursor: pointer;
    box-shadow: 0 0 10px $main-grey;
    background-color: $main-red;
    color: white;
  }
}